.article-single .article-single-entry {
    h1 {
        margin-bottom: 17px;
        font-size: 32px;
        font-weight: 300;
        color: #330072;
    }
    h2 {
        font-size: 27px;
    }
}