/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container {
	max-width: $container-max-width + $container-gutter * 2;
	width: auto;
	padding-right: $container-gutter;
	padding-left: $container-gutter;

	&-small {
		max-width: $container-small-max-width + $container-gutter * 2;
	}

	&-medium {
		max-width: $container-medium-max-width + $container-gutter * 2;
	}

	&-thin {
		max-width: $container-thin-max-width + $container-gutter * 2;
	}

	&-thin-alt {
		max-width: $container-thin-alt-max-width + $container-gutter * 2;
	}
}

.icon-container {
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.section-body .section-sponsors {
	margin-bottom: 0;
}

.container-infra-donors {
	.columns-sponsors:last-of-type {
		display: none;
	}
}

@media screen and (max-width: 768px) {
    .container-center-sponsors {
        .columns {
            display: flex;
			flex-wrap: wrap;
            .columns-sponsors {
                flex-basis: 50%;
				img {
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
            }
        }
    }
	.container-infra-donors {
		.columns-sponsors:last-of-type {
			display: block;
		}
	}
}

@media screen and (max-width: 450px) {
    .container-center-sponsors {
        .columns {
            display: block;
        }
    }
}