/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: relative;
	z-index: 50;
}

nav[class^="navbar"] {
	div[class^="container"] {
		div[class^="project"] {
			img {
				height: 20px;
				width: 20px;
			}
		}
	}
}
