/* ------------------------------------------------------------ *\
	Home
\* ------------------------------------------------------------ */

.section-margin-adjust {
    .columns {
        @media screen and (max-width: 1100px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.homepage-box-news {
    .box-title {
        color: #000;
        font-weight: 700;
    }
    .button.is-rounded {
        background-color: #e61e24;
        &:hover {
            background-color: #9a0c28;
        }
    }
}