.container-supporter {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: -20px;
    margin-left: -20px;
}

.container-supporter-last {
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.content-supporter{
    padding: 20px;
    align-self: center;
    width: 215px;
}

.content-supporter-lt3 {
    padding: 20px;
    align-self: center;
    width: 285px;
}

.content-supporter-lt2 {
    padding: 20px;
    width: 300px;
    margin-right: -150px;

}

.section-body .section-sponsors {
	margin-bottom: 0;
}

.container-center-sponsors {
	.columns {
		display: flex;
        flex-wrap: wrap;
		.columns-sponsors {
			flex-basis: 25%;
			max-width: 25%;
		}
	}
	&.container-infra-donors {
		.columns-sponsors {
			flex-basis: 33.3%;
			max-width: 33.3%;
		}
	}
}

@media screen and (max-width: 768px) {
    .container-center-sponsors {
        .columns {
            display: flex;
			flex-wrap: wrap;
            .columns-sponsors {
                flex-basis: 50%;
				max-width: 50%;
				img {
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
            }
        }
		.container-infra-donors {
			.columns-sponsors {
				flex-basis: 50%;
				max-width: 50%;
			}
		}
    }
}

@media screen and (max-width: 450px) {
    .container-center-sponsors {
        .columns {
            display: block;
			.columns-sponsors {
                flex-basis: 100%;
				max-width: 100%;
			}
        }
    }
}

.section-article-simple {
    .foundation-logo {
        display: block;
        margin: 3rem auto 0;
        max-width: 350px;
    }
    .foundation-tagline {
        text-align: center;
        margin-bottom: 20px;
    }
}

section.section.section-padding-top-0.supporters-section {
    padding-bottom: 0;
}