/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

.box {
  padding: 38px 46px 59px;
  background: #f1f1f1;
  border-radius: 8px;
  box-shadow: none;
  border-width: 16px 0 0;
  border-style: solid;
  font-size: 16px;
  font-weight: 400;
  color: $black;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      border-color: $color;
    }
  }

  .box-title {
    margin-bottom: 25px;
    color: $primary-dark;
  }

  .box-entry {
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .box-actions {
    text-align: center;
  }

  @media (max-width: 767px) {
    & {
      padding: 25px 20px;
      font-size: 16px;
    }

    .box-title {
      margin-bottom: 15px;
      text-align: left;
    }

    .box-entry {
      margin-bottom: 20px;
    }

    .box-actions {
      text-align: left;
    }
  }
}

/* ------------------------------------------------------------ *\
	Box Modified
\* ------------------------------------------------------------ */

.box-modified {
  padding: 27px 17px 36px;
  border-radius: 4px;
  border-width: 14px 0 0;
}

/* ------------------------------------------------------------ *\
	Box Light
\* ------------------------------------------------------------ */

.box-light {
  background: $white;
}

/* ------------------------------------------------------------ *\
	Box Flex
\* ------------------------------------------------------------ */

.box-flex {
  display: flex;
}
