/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	font-size: 20px;
	line-height: 1.25;

	.hero-title {
		color: inherit;
	}
}

/* ------------------------------------------------------------ *\
	Hero Intro
\* ------------------------------------------------------------ */

.hero-intro {
	.hero-content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.hero-body {
		padding: 56px 0 59px;
	}

	.hero-title {
		max-width: 50%;
		margin-bottom: 0;
		padding-right: 24px;
		font-size: 42px;
		font-weight: 500;
	}

	.hero-entry {
		position: relative;
		max-width: 460px;
		padding-left: 36px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 50px;
			background: $white;
		}
	}

	@media (max-width: 767px) {
		.hero-content {
			display: block;
		}

		.hero-body {
			padding: 45px 0;
		}

		.hero-title {
			max-width: 100%;
		}

		.hero-entry {
			max-width: 100%;
			padding-left: 0;
			padding-top: 20px;
			margin-top: 20px;

			&:before {
				top: 0;
				transform: translateY(0%);
				height: 1px;
				width: 100px;
				background: $white;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Hero Main
\* ------------------------------------------------------------ */

.hero-main {
	text-align: center;

	.hero-title {
		font-size: 45px;
		margin-bottom: 35px;
		font-weight: 300;
	}

	.hero-body {
		padding: 67px 0 65px;
	}

	.hero-content {
		max-width: 780px;
		margin: 0 auto;
	}

	@media (max-width: 767px) {
		.hero-title {
			font-size: 30px;
		}

		.hero-body {
			padding: 62px 0;
		}
	}
}

/* ------------------------------------------------------------ *\
	Hero Image
\* ------------------------------------------------------------ */

.hero-image {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&.is-primary:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba($primary, 0.9);
	}

	.hero-body {
		position: relative;
		z-index: 10;
	}
}
