/* ------------------------------------------------------------ *\
  Search
\* ------------------------------------------------------------ */


.search-content {
  background-color: #685bc7;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  padding-top: 40px;
  color: $white;
  
  .search-content-title {
    font-size: 20px;
    font-weight: 650;
    line-height: 1.2;
    color: $white;
  }
  
  .search-content-subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 21px;
    color: $white;
  }
  
  .search-container-submit {
    color: $white;
    background: #330072;
  }

  a.no-border-search-submit, a.no-border-search-submit:hover{
    color: $white;
    background: #330072;
  }
  
  .search-container-input {
    border: 0px;
    padding: 0 19px;
    border-radius: 50px 0 0 50px;
    width: 300px;
    height: 42px;
    box-shadow: none;
    font-size: 16px;
    line-height: 2.13;
    margin-bottom: 0;
  }

  .button.no-border-search-submit {

    height: 42px;
    border-radius: 0 50px 50px 0;
    top: 0px;
  }
  
  @media (max-width: 767px) {
      .search-content  {
        font-size: 30px;
      }
  
      .search-content-title {
        font-size: 20px;
      }

      .button.no-border-search-submit {
      width:30%;
      }

      .search-container-input {
        width:50%;
      }
  }
  }

#e2ma_signup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  #e2ma_signup {
    margin-bottom: 10px;
  }

  .section {
    margin-top: 30px;
    margin-bottom: -60px;
  }
}